/* OrderForm.css */

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div {
    width: 100%;
    /* Puedes ajustar el valor según tus necesidades */
    margin: 0 auto;
    /* Centra el div horizontalmente */
    padding: 20px;
    /* Espacio interno dentro del div */
    border: 1px solid #080808;
    /* Agrega un borde para visualización */
}