.divCeleste {
  background-color: #dbe7f3;
  border-radius: 5px;
  margin: 10px;

  height: 6vh;
}

.botonFiltro {
  box-shadow: 1px 11px 16px -10px rgba(0, 0, 0, 0.75);
}

.divBar {
  padding-left: 10px;
  text-align: left;
  align-items: center;
  display: flex;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  height: 75px;
  background-color: #00519b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media only screen and (max-width: 900px) {
  .divCeleste {
    background-color: #dbe7f3;
    display: flex;
    vertical-align: middle;
    height: 110px;
    border-radius: 5;
  }
}
