.custom-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-modal .modal-content {
    background-color: #077cf1; /* Set your desired background color */
  }